@import "tailwindcss";

body {
  background: var(--color-gray-100);
  color: var(--color-neutral-950);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}
.animate-slideUp { animation: slideUp 0.3s; }
